/*
 For writing CSS, the first thing we have to do is select the element that we want to style.
 This is how we select an entire element. These are known as Element Selectors.
*/
body {
  background-color: rgb(255, 247, 201);
  /*
    font-family is a property that gets inherited. Hence all the children of the body element are going
    to inherit the styling applied here.
    */
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

/*
This is how we select classes. Beginning with a dot and then followed by the class name.
*/
.first {
  /*Change text color of ONLY the classes marked as 'first' to red*/
  color: red;
}

/*
This is how we select elements that have an 'id' associated with them.
*/
#your-name {
  background-color: yellow;
  /*
    border is not a property that is inherited. So only the outermost form is assigned a border.
    The child elements do not get a border of their own.
    */
  border: 5px solid #00c46a;
}

/*
Certain elements have their default padding and margin values.
Before we start changing margin, paddings, we often want all of these default value to be changed to 0.
We use the * operator to select all of the elements on the web page. This is often called a "global reset".
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Suppose we want a rule to apply to two or more elements, then we can just separate the two elements by commas
For eg. in the following case, the style will be applied to both the input element as well as the button element
*/
input,
button {
  padding: 10px;
}

/*
Another important selector in CSS/JS is the 'child selector'. When you look at the HTML, you can see that there are two h2 elements
How could we select ONLY the h2 element that is present within the form element?
One way would be to give the h2 element a unique id and then use that id. But we try and avoid id selectors.
Other way would be as follows.
We are basically telling CSS to first select the element with id 'your-name' and then in that element, select the h2 element
*/
#your-name h2 {
  color: blue;
}
