.invalid-style {
  border: 1px solid red;
  box-shadow: 2px 2px 2px red;
  outline: none;
}

.valid-style {
  border: 1px solid green;
  box-shadow: 2px 2px 2px green;
  outline: none;
}

.box {
  border: 5px double red;
  color: red;
  padding: 20px;
}
